name: Generate sitemap

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url: https://reverse-shion.github.io
          additional-paths: |
            /
            /philosophy.html
            /en/
          exclude-paths: |
            /sw.js
            /manifest.webmanifest
            /assets/
            /google*.html
      - name: Commit sitemap.xml
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update sitemap.xml"
          file_pattern: sitemap.xml
