name: Generate sitemap

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: /
          path-to-root: ./
          include-html: true
          sitemap-format: xml
          include-pdf: false
          date-only: false
          exclude-paths: |
            /sw.js
            /manifest.webmanifest
            /assets/
            /google*.html

      - name: Commit sitemap.xml
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "update sitemap.xml"
          file_pattern: sitemap.xml
